@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Raleway:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(230 230 230);
  color: #fff;
}
li,
a,
p {
  font-size: 20px;
}
@media (max-width: 1280px) {
  li,
  a,
  p {
    font-size: 18px;
  }
}
@media (max-width: 875px) {
  li,
  a,
  p {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  li,
  a,
  p {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  li,
  a,
  p {
    font-size: 12px;
  }
}
